In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
df = pd.read_csv('DW_EDA_Capstone_Project.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount,Year,Hour,Month
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,8,12
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,8,12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,8,12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,8,12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,8,12

In [3]:
df2 = df.groupby(['InvoiceNo', 'StockCode']).Quantity.sum().unstack().reset_index()
df2 = df2.fillna(0).set_index('InvoiceNo')
df2

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214W,90214Y,90214Z,C2,DCGS0076,DCGSSBOY,DCGSSGIRL,POST,gift_0001_10,gift_0001_20
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536369,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
581584,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
581585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
581586,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
581587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df2.columns

Index(['10002', '10080', '10120', '10123C', '10124A', '10124G', '10125',
       '10133', '10135', '11001',
       ...
       '90214W', '90214Y', '90214Z', 'C2', 'DCGS0076', 'DCGSSBOY', 'DCGSSGIRL',
       'POST', 'gift_0001_10', 'gift_0001_20'],
      dtype='object', name='StockCode', length=3716)

In [5]:
def hot_encode(x):
    if x <= 0:
        return 0
    else:
        return 1

In [6]:
df_encoded = df2.applymap(hot_encode)

In [10]:
df_two_or_more = df_encoded[(df_encoded > 0).sum(axis=1) >= 2]

In [12]:
apriori_results = apriori(df_two_or_more, min_support=.03, use_colnames=True)
apriori_results = apriori_results.sort_values(by='support', ascending=False).reset_index(drop=True)
apriori_results

     support  itemsets
0   0.110304  (85123A)
1   0.101592  (85099B)
2   0.081318   (47566)
3   0.079587   (84879)
4   0.077409   (22423)
..       ...       ...
91  0.030662   (23208)
92  0.030550   (23321)
93  0.030494   (82484)
94  0.030327   (23284)
95  0.030215   (22865)

[96 rows x 2 columns]

In [14]:
apriori_results['num_items'] = apriori_results['itemsets'].apply(lambda a: len(a))
apriori_results = apriori_results.sort_values(by='num_items', ascending=False)

In [18]:
assoc_rule_results = association_rules(apriori_results, metric='lift', min_threshold=1)
assoc_rule_results

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(22386),(85099B),0.056130,0.101592,0.036359,0.647761,6.376121,0.030656,2.550566
1,(85099B),(22386),0.101592,0.056130,0.036359,0.357889,6.376121,0.030656,1.469949
2,(21931),(85099B),0.053058,0.101592,0.030941,0.583158,5.740210,0.025551,2.155272
3,(85099B),(21931),0.101592,0.053058,0.030941,0.304563,5.740210,0.025551,1.361650
4,(22699),(22697),0.049372,0.045686,0.033454,0.677602,14.831859,0.031199,2.960049
5,(22697),(22699),0.045686,0.049372,0.033454,0.732274,14.831859,0.031199,3.550749